.button.Add{ 
    cursor: pointer;
    position: relative;
    background: transparent;
    border-radius: 12px;
    box-shadow:(blue 3s, 1);
    overflow: hidden;
    transform: translateX(0);
    background-color: pink;
    color: pink;
}